# Papilio Pro 
NET In_Or0_switch0    LOC="P114"  | IOSTANDARD=LVTTL;
NET In_Or1_switch1    LOC="P115"  | IOSTANDARD=LVTTL;
NET In_And0_switch2   LOC="P116"  | IOSTANDARD=LVTTL;
NET In_And1_switch3   LOC="P117"  | IOSTANDARD=LVTTL;
NET In_Xor0_switch4   LOC="P118"  | IOSTANDARD=LVTTL;
NET In_Xor1_switch5   LOC="P119"  | IOSTANDARD=LVTTL;
NET In_Nand0_switch6  LOC="P120"  | IOSTANDARD=LVTTL;
NET In_Nand1_switch7  LOC="P121"  | IOSTANDARD=LVTTL;
NET Out_Or_led0       LOC="P123"  | IOSTANDARD=LVTTL;
NET Out_And_led2      LOC="P126"  | IOSTANDARD=LVTTL;
NET Out_Xor_led4      LOC="P131"  | IOSTANDARD=LVTTL;
NET Out_Nand_led6     LOC="P133"  | IOSTANDARD=LVTTL;